<html>
	<head>
		<title> adicionar Produto</title>
		<link rel="stylesheet" type="text/css" href="/semantic.css">
		<link rel="stylesheet" type="text/css" href="/TelaInicial.css">
		<script src="https://code.jquery.com/jquery-3.1.1.min.js" ></script>
		<script src="semantic.js"></script>
		<link rel="icon" href="./themes/carrinho.png" type="image/x-icon">
	</head>
	<body>
		<form class="ui form" action="/mercados/adicionar" method="post">
			<h4 class="ui dividing header">ADICIONE UM PRODUTO</h4>
			<div class="field">
				<label for="mercados" >Nome Mercado:</label>
				<input type="text" name="mercados" id="mercados" required>			
			</div>
			<input type="submit" value="CRIAR PRODUTO">
		</form>
	</body>
</html>