<html>
	<head>
	
		<link rel="stylesheet" type="text/css" href="/semantic.css">
		<link rel="stylesheet" type="text/css" href="/TelaInicial.css">
		<script src="/semantic.js"></script>
		<title>Opções de apoio</title>
		<link rel="icon" href="./themes/carrinho.png" type="image/x-icon">
	</head>
	<body>
		<div class="ui secondary  menu">
				<a class="item" href="/home/inicio">home</a>
				<a class="blue active item" href="/produtos/listar">Produtos</a>
				<a class="item" href="/lista/listar">Lista de compras</a>
				<a class="item" href="/mercados/listar">Mercados</a>
				<a class="item" href="Apoio">Apoio</a>
				<div class="right menu">
					<div class="item">
						<div class="ui icon input">
							<input type="text" placeholder="Search...">
							<i class="search link icon"></i>
						</div>
					</div> 
					<a class=" red ui active item" href="/login">Logout</a>			      
				</div>
			</div>
	
	</body>

</html>